.Logintitle {
    color: white;
    font-size: 55px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 300px;
}

.Logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Loginitem {
    background-color: #D9D9D9;
    color: black;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
    max-width: 300px;
}

.LoginsubmitButton {
    background-color: #D9D9D9;
    color: black;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
    min-width: 100px;
}

.LoginforgotP {
    color: #38A0FF;
    text-decoration: none;
}