body {
    background-color: #123950;
}

.Navtitle {
    color: white;
    font-size: 40px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.Navcontainer {
    display: flex;
}

.Navitem {
    background-color: #D9D9D9;
    color: black;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
}